h1 {
  cursor: pointer;
}
.life_conteiner {
  background-image: url(../../../assets/LifeBG.png);
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
  min-height: 360vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.life_switzerland {
  background-image: url(../../../assets/swedraz.png);
  background-size: cover;
  min-height: 50vh;
  width: 80vw;
  border-radius: 1em;
}
.life_switzerland h1 {
  padding-top: 9%;
  text-align: center;
  font-size: 10em;
}
.life_nederland {
  background-image: url(../../../assets/nederraz.jpg);
  background-size: cover;
  min-height: 50vh;
  width: 80vw;
  border-radius: 1em;
}
.life_nederland h1 {
  text-align: center;
  padding-top: 9%;
  font-size: 10em;
}
.life_iceland {
  background-image: url(../../../assets/iceraz.jpg);
  background-size: cover;
  min-height: 50vh;
  width: 80vw;
  border-radius: 1em;
}
.life_iceland h1 {
  text-align: center;
  padding-top: 9%;
  font-size: 10em;
}
.life_germany1 {
  background-image: url(../../../assets/gerraz.jpg);
  background-size: cover;
  min-height: 50vh;
  width: 80vw;
  border-radius: 1em;
}
.life_germany1 h1 {
  padding-top: 9%;
  text-align: center;
  font-size: 10em;
}
.life_fynland {
  background-image: url(../../../assets/fynraz.jpg);
  background-size: cover;
  min-height: 50vh;
  width: 80vw;
  border-radius: 1em;
}
.life_fynland h1 {
  text-align: center;
  padding-top: 9%;
  font-size: 10em;
}
/* ---------------------media */
@media screen and (max-width: 1179px) {
  .life_switzerland h1,
  .life_nederland h1,
  .life_iceland h1,
  .life_germany1 h1,
  .life_fynland h1 {
    font-size: 4em;
  }
}
@media screen and (max-width: 768px) {
  .life_switzerland h1,
  .life_nederland h1,
  .life_iceland h1,
  .life_germany1 h1,
  .life_fynland h1 {
    font-size: 3em;
  }
}

@media screen and (max-width: 480px) {
  .life_switzerland,
  .life_nederland,
  .life_iceland,
  .life_germany1,
  .life_fynland {
    width: 90vw;
  }

  .life_switzerland h1,
  .life_nederland h1,
  .life_iceland h1,
  .life_germany1 h1,
  .life_fynland h1 {
    font-size: 1em;
  }
}
