.main_nav {
  display: flex;
  justify-content: space-around;
  position: absolute;
  color: white;
}

.main_nav img {
  width: 20%;
}

.main_divhed {
  display: flex;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}
.main_divhed h3 {
  font-size: 1.7em;
}
.main_divhed button {
  border-radius: 1em;
  padding: 0.7em 1.7em;
  border: 1px solid white;
  background: #00000000;
  color: white;
}

@media screen and (max-width: 768px) {
  .main_nav {
    flex-direction: column;
  }

  .main_nav img {
    width: 40%;
    display: none;
  }

  .main_divhed {
    flex-direction: column;
    gap: 1em;
  }

  .main_divhed h3 {
    font-size: 1.2em;
  }

  .main_divhed button {
    padding: 0.5em 1.2em;
  }
}
